package templates

import "app/internal/db"
import "app/internal/components"

templ Home(user db.User) {
  <section id="home" class="h-full m-12 flex flex-col justify-center">
    <div class="text-lg font-semibold">Welcome home.</div>
    <a href="/logout">
      <button class="btn btn-lg text-lg btn-primary">logout</button>
    </a>

    @components.ChatBubble(user)
  </section>
}